@model GradingLog.Models.EntitiesModel

<div class="layout">
    <div class="student__header">
        <h1>Teacher</h1>
    </div>
    <p>@Model.teacherEntity.FirstName</p>
    <p>@Model.teacherEntity.LastName</p>

    <ul>
        @foreach (var schoolSubject in Model.SchoolSubjectsEntity)
        {
            <li>@schoolSubject.Name</li>
        }
    </ul>
</div>