@model GradingLog.Models.EntitiesModel

<div class="layout">
    <div class="teacher__header">
        <h1 class="teacher__header-title">Teacher</h1>
    </div>
    <div class="teacher__name">@Model.teacherEntity.Title @Model.teacherEntity.LastName @Model.teacherEntity.FirstName</div>

    <h2 class="teacher__subjects-header">Subjects</h2>
    <div class="teacher__subjects">

        @foreach (var schoolSubject in Model.SchoolSubjectsEntity)
        {
            <div class="teacher__subject">
                @Html.ActionLink(schoolSubject.Name, "index", "subject", schoolSubject)
                <img src="~/assets/arrow.png"  class="teacher__arrow"/>
            </div>

        }

    </div>
</div> 